@import "../../variables.scss";

.header {
  .cart-popup {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: $white;
    width: 420px;
    box-shadow: 0 5px 10px rgb(30 32 37 / 12%);
    border-radius: 5px;
    display: none;
    &.active {
      display: block;
    }
    .top {
      display: flex;
      justify-content: space-between;
      padding: 16px;
      border-bottom: 1px dashed $border-color;
      &-title {
        font-size: 16px;
        font-weight: 600;
        color: $header-button;
      }
      &-button {
        color: $pending;
        padding: 4px 8px;
        background-color: rgba(247, 184, 75, 0.1);
        border-radius: 3px;
        font-weight: 600;
      }
    }
    .items {
      &-container {
        padding: 8px;
        max-height: 300px;
        overflow: scroll;
        border-bottom: 1px dashed $border-color;
        .item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 8px 16px;
          &-img {
            width: 48px;
            height: 48px;
            background-color: rgb(243, 246, 249);
            border-radius: 50%;
            padding: 5px;
            box-sizing: border-box;
            margin-right: 10px;
          }
          &-name {
            color: $header-button;
            font-weight: 600;
            text-decoration: none;
            padding-bottom: 5px;
            &-container {
              flex: 1;
            }
          }
          &-quantity {
            color: $breadcrumb-second;
          }
          &-price {
            color: $header-button;
            font-size: 16px;
            margin-right: 20px;
          }
          &-delete {
            display: flex;
            align-items: center;
            padding: 10px;
            border-radius: 3px;
            color: $header-button;
            font-size: 16px;
            &:hover {
              background-color: rgba(53, 119, 241, 0.1);
              color: $blue;
            }
          }
        }
      }
    }
    .total {
      padding: 16px;
      display: flex;
      flex-direction: column;
      &-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
      }
      &-text {
        color: $neutral;
        font-size: 16px;
      }
      &-price {
        font-size: 16px;
        color: $header-button;
        font-weight: 500;
      }
      &-button {
        background-color: $add-color;
        color: $white;
        flex: 1;
        padding: 8px 14px;
        border-radius: 3px;
        &:hover {
          background-color: #099885;
        }
      }
    }
  }
}
