@import "../../variables.scss";

.best-products {
  .best-products-item {
    display: grid;
    grid-template-columns: 2.5fr 1fr 1.5fr 1fr;

    .product-info-value {
      color: $black;
    }

    .product-img-container {
      margin-right: 10px;
    }
    &-info {
      &-out {
        margin-bottom: 5px;
      }
    }
  }
}
