@import "../../variables.scss";

.Title {
  font-family: Poppins, sans-serif;
  span.reward {
    color: $blue;
  }
  .success {
    color: $success;
  }

  &.menu {
    color: $menu-section;
    padding: 12px 20px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    display: none;

    @media (min-width: 1220px) {
      display: inline;
    }
  }

  &.smallTitle {
    font-size: 11px;
  }

  &.primaryTitle {
    font-size: 13px;
  }

  &.secondaryTitle {
    font-size: 15px;
  }

  &.middleTitle {
    font-size: 16px;
  }

  &.largeTitle {
    font-family: hkgrotesk, sans-serif;
    font-size: 22px;
  }

  &.lightWeight {
    font-weight: 300;
  }

  &.normalWeight {
    font-weight: 400;
  }

  &.heavyWeight {
    font-weight: 500;
  }

  &.boldWeight {
    font-weight: 600;
  }

  &.primaryColor {
    color: $header-button;
  }

  &.secondaryColor {
    color: $title-middle;
  }

  &.whiteColor {
    color: $white;
  }

  &.neutralColor {
    color: $neutral;
  }

  &.successColor {
    color: $success;
  }

  &.uppercase {
    text-transform: uppercase;
  }
}
