@import "../../variables.scss";

.Text {
  font-family: Poppins, sans-serif;
}

.defaultText {
  font-size: 14px;
  font-weight: 400;
  color: $header-button;
}

.smallText {
  font-family: Poppins, sans-serif;
  font-size: 13px;
  color: $breadcrumb-second;
}

.mediumText {
  font-size: 16px;
  color: $header-button;
  font-weight: 500;
}

.secondaryText {
  color: $burger;
  font-size: 13px;
  text-align: left;
}

.noWrapText {
  white-space: nowrap;
  flex: 1;
  text-align: left;
}

.primaryTextColor {
  color: $modal-link;
}

.successTextColor {
  color: $success;
}
