@import "../../variables.scss";

.default {
  &:hover {
    background-color: $border-color;
  }
}

.icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 100%;
  &:hover {
    background-color: $button-hover;
    .header-button {
      color: $blue;
    }
  }
}

.iconSquare {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27px;
  height: 27px;
  flex-shrink: 0;
  border-radius: 3px;
  &:hover {
    background-color: $button-hover;
  }
}

.tab {
  padding: 8px 16px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  &:hover {
    color: $white;
  }
  &.active {
    background-color: $white;
    color: $link;
    border-radius: 3px 3px 0 0;
  }
}

.iconInner {
  width: 20px;
  height: 20px;
  color: $header-button;
}

.counterWrapper {
  color: $white;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 6px 2px 6px;
  border-radius: 100%;
  line-height: 1;
  .counter {
    font-size: 9px;
  }
}

.defaultCounter {
  background-color: $cart-counter;
}

.noticiationCounter {
  background-color: $notification-counter;
}

.list {
  padding: 8px 19px;
  display: flex;
  flex-direction: row;
  width: 100%;
  &:hover {
    background-color: $border-color;
  }
}

.listImg {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  border-radius: 5px;
}

.listIcon {
  margin-right: 10px;
  color: $neutral;
}

.secondaryText {
  font-size: 12px;
}

.secondary {
  padding: 4px 8px;
  color: $cian;
  background-color: rgba(41, 156, 219, 0.1);
  border-radius: 3px;
  display: flex;
  align-items: center;
  &:hover {
    background-color: $cian;
    color: $white;
  }
}

.grid {
  padding: 15px 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: $border-color;
  }
}

.gridTitle {
  padding-top: 10px;
}

.link {
  color: $header-button;
  font-weight: 600;
  padding-bottom: 5px;
}

.linkUnderlined {
  color: $link;
  white-space: nowrap;
  text-decoration: underline;
}

.primary {
  color: $add-color;
  background-color: rgba(10, 179, 156, 0.1);
  flex: 1;
  padding: 8px 14px;
  border-radius: 3px;
  &:hover {
    background-color: #099885;
    color: $white;
  }
}

.success {
  color: $success;
  background-color: rgba(10, 179, 156, 0.1);
  &:hover {
    background-color: $success;
    color: $white;
  }
}

.cian {
  background-color: $recent-bg;
  color: $cian;
  &:hover {
    background-color: $cian;
    color: $white;
  }
}

.flex {
  display: flex;
}

.flex1 {
  flex: 1;
}

.height100 {
  height: 100%;
}

.menuTitle {
  padding: 10px 24px;
  color: $menu-link;
  .menuTitleDesktop {
    display: none;

    @media (min-width: 1220px) {
      display: flex;
      align-items: center;
      flex: 1;
    }
  }
  &:hover {
    color: $white;
  }
  .menuTitleWrapper {
    display: flex;
    align-items: center;
  }
  i {
    font-size: 22px;
    @media (min-width: 1220px) {
      font-size: 18px;
    }
  }
  h3 {
    font-family: hkgrotesk, sans-serif;
    padding-left: 10px;
    margin-right: auto;
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: 400;
    text-align: left;
  }
  &.active {
    color: $white;
  }
}

.menuItem {
  color: $menu-link;
  font-size: 15px;
  padding: 10px 0;
  text-align: left;
  display: flex;
  align-items: center;
  &:before {
    width: 5px;
    border-bottom: 1px solid $menu-section;
    content: "";
    display: block;
    margin-right: 15px;
    margin-left: 5px;
  }
  &.active:before {
    border-color: $menu-link-active;
  }
  &:hover {
    color: $menu-link-active;
    &:before {
      border-color: $menu-link-active;
    }
  }
}

.selector {
  padding: 4px 8px;
  color: $blue;
  background-color: rgba(53, 119, 241, 0.1);
  border-radius: 3px;
  font-size: 12px;
  &.uppercase {
    text-transform: uppercase;
  }
  &.inactive {
    background-color: rgba(64, 81, 137, 0.1);
    color: $link;
    &:hover {
      background-color: $link;
      color: $white;
    }
  }
  &:hover {
    background-color: $blue;
    color: $white;
  }
}

.productLink {
  color: $header-button;
  font-size: 14px;
  font-weight: 500;
}

.pagination {
  padding: 4px 8px;
  border: 1px solid $border-color;
  border-radius: 5px;
  &:hover {
    background-color: $pagination-hover;
  }
  &.active {
    background-color: $link;
    color: $white;
  }
}
