@import "../../variables.scss";

.default {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  overflow: hidden;
}

.primary {
  width: 48px;
  height: 48px;
  border-radius: 5px;
  color: $success;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 23px;
}

.secondary {
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  margin-right: 15px;
  font-size: 12px;
  overflow: hidden;
}

.reward {
  background-color: rgba(41, 156, 219, 0.18);
  color: $blue;
}

.success {
  background-color: rgba(240, 101, 72, 0.18);
  color: $failure;
}

.earning {
  background-color: rgba(10, 179, 156, 0.18);
  color: $success;
}
.orders {
  background-color: rgba(41, 156, 219, 0.18);
  color: rgb(41, 156, 219);
}
.customers {
  background-color: rgba(247, 184, 75, 0.18);
  color: rgb(247, 184, 75);
}
.balance {
  background-color: rgba(64, 81, 137, 0.18);
  color: rgb(64, 81, 137);
}

.offer {
  background-color: rgb(53, 119, 241);
  color: $white;
}

.report {
  background-color: rgba(41, 156, 219, 0.18);
  color: $blue;
}
