@import "../../variables.scss";

.menu- {
  &logo {
    object-fit: contain;
    &-mobile {
      display: none;
      padding: 24px;
    }
    &-button {
      &:hover {
        background-color: transparent;
      }
    }
  }
  &main-container {
    width: 240px;
    background-color: $bg-color;
    color: $menu-link;
    flex-shrink: 1;
    & .active {
      color: $menu-link-active;
    }
  }
}

@media (max-width: 1220px) {
  .menu {
    &-main {
      &-container {
        width: auto;
        padding-left: 0;
        align-items: center;
      }
    }
    &-logo {
      display: none;
      &-mobile {
        display: block;
      }
    }
  }
}
