@import "../../variables.scss";

.top-sellers-item {
  display: grid;
  grid-template-columns: 2.5fr 2fr 1fr 1fr 0.5fr 0.5fr;

  .img-container {
    margin-right: 8px;
  }

  .rating-container {
    color: $success;
  }
}
