@import "../../variables.scss";

.rightbar {
  .reviews {
    &-item {
      padding: 16px;
      border: 1px dashed $border-color;
      display: flex;
      color: $breadcrumb-second;
      margin: 10px 0;
      &-img {
        width: 48px;
        height: 48px;
        border-radius: 5px;
        background-color: $border-color;
      }
    }
    &-text {
      font-style: italic;
    }
    &-author {
      text-align: right;
    }
    &-info {
      padding-left: 15px;
    }
    &-rating {
      display: flex;
      color: $pending;
      font-size: 12px;
      padding: 5px 0;
    }
  }
}
