@import "../../variables.scss";

.product-review-item {
  border: 1px dashed $border-color;
  margin: 10px 0;

  .item-text {
    font-style: italic;
  }
  .item-author {
    text-align: right;
  }
  .item-info {
    padding-left: 15px;
  }
  .item-rating {
    color: $pending;
    font-size: 12px;
    padding: 5px 0;
  }
}
