@import "../../variables.scss";

.default {
  background-color: rgba(247, 184, 75, 0.1);
  border-radius: 3px;
}

.secondary {
  background-color: rgb(64, 81, 137);
}

.white {
  background-color: $white;
}

.content {
  background-color: $content-background;
}
