@import "../../variables.scss";

.Title {
  span.reward {
    color: $blue;
  }
  .success {
    color: $success;
  }
}

.menu {
  color: $menu-section;
  padding: 12px 20px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  display: none;

  @media (min-width: 1220px) {
    display: inline;
  }
}

.secondaryTitle {
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: $header-button;
}

.smallTitle {
  color: $header-button;
  font-size: 16px;
  font-weight: 400;
}

.middleTitle {
  color: $title-middle;
  font-size: 16px;
  font-weight: 500;
}

.primaryTitle {
  font-size: 13px;
  font-weight: 500;
  color: $header-button;
}

.neutralTitle {
  color: $neutral;
  font-weight: 500;
}

.subTitle {
  color: $white;
  font-weight: 600;
  font-size: 16px;
}

.whiteTitle {
  color: $white;
}
