@import "../../variables.scss";

.recent-activity-item {
  &.last {
    .activity-line {
      display: none;
    }
  }
  .activity {
    &-line {
      position: absolute;
      top: 26px;
      left: 12px;
      height: calc(100% - 26px);
      border-left: 1px dashed $border-color;
    }
    &-img {
      margin-right: 15px;
    }
    &-title {
      padding-bottom: 5px;
    }
    &-link {
      color: $blue;
      font-weight: 500;
      &-warning {
        color: $pending;
      }
    }
    &-text {
      &.comment {
        font-style: italic;
      }
    }
    &-pictures {
      &-wrapper {
        margin-top: 5px;
        border: 1px dashed $border-color;
        gap: 5px;
      }
    }
    &-picture-button {
      display: flex;
    }
    &-warning {
      color: $notification-counter;
    }
  }
}
