@import "../../variables.scss";

.search-bar {
  padding: 16px 0;
  .burger {
    &-wrapper {
      cursor: pointer;
      &:hover {
        .burger-line {
          margin: 4px 0;
        }
      }
    }
    &-line {
      height: 2px;
      border-radius: 5px;
      background-color: $burger;
      margin: 3px 0;
      &:nth-child(1) {
        width: 16px;
      }
      &:nth-child(2) {
        width: 20px;
      }
      &:nth-child(3) {
        width: 10px;
      }
    }
  }

  .search {
    &-wrapper {
      background-color: $search;
      padding: 0 10px;
      border-radius: 5px;
      height: 38px;
    }
    &-icon {
      padding-right: 10px;
      color: $burger;
    }
  }
}
