@import "../../variables.scss";

.default {
  display: none;
  background-color: $white;
  box-shadow: 0 5px 10px rgb(30 32 37 / 12%);
  padding: 10px 0;
  position: absolute;
  right: 0;
  border-radius: 5px;
  &.active {
    display: block;
  }
}
