@import "../../variables.scss";

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70px;
  padding: 0 24px 0 15px;
  border-bottom: 1px solid $border-color;
}
