@import "./fonts.scss";
@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  border: none;
}

span,
p,
h1,
h2,
h3,
h4,
a,
button {
  font-family: Poppins, sans-serif;
  font-size: 13px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

body {
  font-family: Poppins, sans-serif;
}

.main-container {
  width: 100vw;
  height: 100vh;
}

.me-1 {
  margin-right: 0.25em;
}
