@import "../../variables.scss";

.header {
  .apps {
    &-container {
      width: 320px;
      background-color: $white;
      box-shadow: 0 5px 10px rgb(30 32 37 / 12%);
      border-radius: 5px;
      position: absolute;
      top: 50px;
      z-index: 100;
      display: none;
      &.active {
        display: block;
      }
    }
    &-top {
      display: flex;
      justify-content: space-between;
      padding: 16px;
      border-bottom: 1px dashed $border-color;
    }
    &-title {
      font-size: 15px;
      font-weight: 600;
      color: $header-button;
    }
    &-all {
      &-button {
        padding: 4px 8px;
        color: $cian;
        background-color: rgba(41, 156, 219, 0.1);
        border-radius: 3px;
        display: flex;
        align-items: center;
      }
      &-text {
        font-size: 12px;
      }
    }
    &-list {
      padding: 8px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
    &-item {
      padding: 15px 0 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &-name {
        padding-top: 10px;
      }
      &:hover {
        background-color: $border-color;
      }
    }
  }
}
